body {
  margin: 8px auto;
  font-size: 16px;
  color: #2d2d2d;
}

/*---------------Nav---------------*/

.container-nav {
  display: flex;
  margin: 5px 15px;
  flex-flow: row wrap;
  justify-content: space-between;
}
.nav-img-logo {
  height: 60px;
  margin: 5px;
  padding: 5px;
}
.nav-img-cart {
  height: 60px;
  margin: 5px;
  padding: 5px;
  margin-left: 20px;
}
.container-nav-menu {
  display: flex;
  flex-grow: 2;
  justify-content: space-around;
  order: 3;
  margin: 5px;
  border-top: 1px solid #d7d7d7;
}
.container-nav-menu-child {
  margin: 5px;
  padding: 5px;
}
header a {
    color: #e2574c;
    text-decoration: none;
    text-transform: uppercase;
}
/*----------------Banner--------------*/

.herotext {
  display: block;
  text-align: center;
  font-size: 12px;
  margin: 0px auto;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),
  url(../Asset/images/banner-girl.png),
  url(../Asset/images/flower-bkgd.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: repeat, no-repeat;
  height: 300px;
}
.vertical-align {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/*---------Hand Crafted Div-----------*/

.container-handcraft {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align:center;
  margin: 20px;
  padding: 30px 0;
}
.container-handcraft h3 {
  font-size: 3rem;
  color: #2d2d2d;
}
.container-handcraft p {
  color: #2d2d2d;
  font-size: 1.2rem;
  margin-top: 30px;
}

/*---------------Category---------------*/

.container-category {
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;
}
.container-category-men {
  background: url("../Asset/images/mens-category.jpg") no-repeat;
  background-size: cover;
  height: 200px;
  flex: 0 1 auto;
}
.container-category-trends {
  background: url("../Asset/images/trends-category.jpg");
  background-size: cover;
  height: 200px;
  flex-shrink: 2;
}
.container-category-glasses {
  background: url("../Asset/images/glasses-category.jpg");
  background-size: cover;
  height: 200px;
  flex-shrink: 2;
}
.container-category-sale {
  background: url("../Asset/images/sale-category.jpg");
  background-size: cover;
  height: 200px;
}
.container-category-bags {
  background: url("../Asset/images/bags-category.jpg");
  background-size: cover;
  height: 200px;
}
.container-category-women {
  background: url("../Asset/images/womens-category.jpg");
  background-size: cover;
  height: 200px;
}
.container-category h4 {
  
}

/*----------most loved product-----------*/

.mostloved {
  display: block;
  text-align:center;
  font-size: 12px;
  margin: 10px auto;
  height: 100px;
}

/*--------------SignUp--------------*/

.signup {
  display: block;
  text-align: center;
  height: 200px;
  font-size: 12px;
  margin: 10px auto;
  background-image: url(../Asset/images/wave-bkgd.jpg);
  background-size: 100% 100%;background-repeat: no-repeat;
}
button:active,
button:hover {
  background-color: lightblue;
}

/*--------------footer--------------*/

.container-footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 50px 20px;
  color: #ffffff;
  background-color: #242424;
}
.container-footer-copyright {
  margin: 20px;
  text-align: center;
}
.container-footer-contacts {
  margin: 5px;
}
.container-footer-contacts a {
   text-decoration: underline;
   color: #ffffff;
}
.container-footer-address {
  margin: 5px;
  text-align: center;
  color: #969696;
}
.container-footer-media {
  display: flex;
  margin: 20px;
  flex-flow: row nowrap;
}

/*----------Media-Queries----------*/

@media all and (min-width: 480px){
  
}
@media all and (min-width: 680px) {

}