@font-face {
    font-family: 'playfair';
    src: url('../Asset/fonts/playfairdisplay-bold-webfont.eot');
    src: url('../Asset/fonts/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Asset/fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('../Asset/fonts/playfairdisplay-bold-webfont.woff') format('woff'),
         url('../Asset/fonts/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'playfair';
    src: url('../Asset/fonts/playfairdisplay-bolditalic-webfont.eot');
    src: url('../Asset/fonts/playfairdisplay-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Asset/fonts/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
         url('../Asset/fonts/playfairdisplay-bolditalic-webfont.woff') format('woff'),
         url('../Asset/fonts/playfairdisplay-bolditalic-webfont.svg#playfair_displaybold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'playfair';
    src: url('../Asset/fonts/playfairdisplay-italic-webfont.eot');
    src: url('../Asset/fonts/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Asset/fonts/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('../Asset/fonts/playfairdisplay-italic-webfont.woff') format('woff'),
         url('../Asset/fonts/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'playfair';
    src: url('../Asset/fonts/playfairdisplay-regular-webfont.eot');
    src: url('../Asset/fonts/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Asset/fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('../Asset/fonts/playfairdisplay-regular-webfont.woff') format('woff'),
         url('../Asset/fonts/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'raleway';
    src: url('../Asset/fonts/raleway-light-webfont.eot');
    src: url('../Asset/fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Asset/fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../Asset/fonts/raleway-light-webfont.woff') format('woff'),
         url('../Asset/fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'raleway';
    src: url('../Asset/fonts/raleway-lightitalic-webfont.eot');
    src: url('../Asset/fonts/raleway-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Asset/fonts/raleway-lightitalic-webfont.woff2') format('woff2'),
         url('../Asset/fonts/raleway-lightitalic-webfont.woff') format('woff'),
         url('../Asset/fonts/raleway-lightitalic-webfont.svg#ralewaylight_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'raleway';
    src: url('../Asset/fonts/raleway-medium-webfont.eot');
    src: url('../Asset/fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Asset/fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('../Asset/fonts/raleway-medium-webfont.woff') format('woff'),
         url('../Asset/fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'raleway';
    src: url('../Asset/fonts/raleway-mediumitalic-webfont.eot');
    src: url('../Asset/fonts/raleway-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Asset/fonts/raleway-mediumitalic-webfont.woff2') format('woff2'),
         url('../Asset/fonts/raleway-mediumitalic-webfont.woff') format('woff'),
         url('../Asset/fonts/raleway-mediumitalic-webfont.svg#ralewaymedium_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}

body {
  font-size: 14px;
  color: #2d2d2d;
  font-family: "raleway";
  font-weight: normal;
  font-style: normal;
}
/*---------------Nav---------------*/

.container-nav {
  display: flex;
  margin-top: .5rem;
  flex-flow: row wrap;
  justify-content: space-between;
}
.nav-img-logo {
  height: 4rem;
  margin: .3rem;
  padding: .3rem;
}
.nav-img-cart {
  height: 4rem;
  margin: .3rem;
  padding: .3rem;
  margin-left: 2rem;
}
.container-nav-menu {
  display: flex;
  flex-grow: 2;
  justify-content: center;
  align-items: center;
  order: 3;
  border-top: .1rem solid #d7d7d7;
}
.container-nav-menu-child {
  margin: .5rem;
  padding: .5rem;
}
header a {
    color: #e2574c;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
}
/*----------------Banner--------------*/

.container-hero-banner {
  display: flex;
  background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),
  url(../Asset/images/banner-girl.png) center 3rem,
  url(../Asset/images/flower-bkgd.jpg);
  background-size: cover, contain;
  background-repeat: repeat, no-repeat;
  height: 20rem;
  justify-content: center;
  align-items: center;
}
.container-hero-text {
  color: white;
  text-align: center;
}
.container-hero-text h6{
  text-transform: uppercase;
}
.container-hero-text h1{
  text-transform: capitalize;
  font-weight: bold;
  font-size: 2rem;
  font-family: "playfair";
}

/*---------Hand Crafted Div-----------*/

.container-handcraft {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align:center;
  margin: 2.5rem;
  padding: 2.5rem 0;
}
.container-handcraft h3 {
  font-size: 2rem;
  font-style: italic;
  font-weight: normal;
  font-family: "playfair";
  text-transform: capitalize;
}
.container-handcraft h3 span {
  font-style: normal;
  font-weight: bold;
}
.container-handcraft p {
  margin-top: 2rem;
  line-height: 2rem;
}

/*---------------Category---------------*/

.container-category {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-weight: bold;
}
.container-category-men {
  background:
  linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url("../Asset/images/mens-category.jpg") no-repeat;
  background-size: contain;
  height: 13rem;
  width: 100%;
  display: flex;
  margin-top: .5rem;
  margin-bottom: .5rem;
  justify-content: center;
  align-items: center;
}
.container-category-trends {
  background:
  linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url("../Asset/images/trends-category.jpg");
  background-size: cover;
  height: 13rem;
  /*center margin line is created by width %*/
  width: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-category-glasses {
  background: 
  linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url("../Asset/images/glasses-category.jpg");
  background-size: cover;
  height: 13rem;
  width: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-category-sale {
  background: 
  linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url("../Asset/images/sale-category.jpg");
  background-size: cover;
  height: 13rem;
  width: 49%;
  margin-top: .5rem;
  margin-bottom: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-category-bags {
  background: 
  linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url("../Asset/images/bags-category.jpg");
  background-size: cover;
  height: 13rem;
  width: 49%;
  display: flex;
  margin-top: .5rem;
  margin-bottom: .5rem;
  justify-content: center;
  align-items: center;
}
.container-category-women {
  background: 
  linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url("../Asset/images/womens-category.jpg");
  background-size: cover;
  height: 13rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-category li h4 a {
  font-size: 2rem;
  text-decoration: none;
  color: white;
}

/*----------most loved product-----------*/

.container-products {
  margin: 2.5rem 1rem;
}
.products span{
  align-items: center;
  justify-content: center;
}
.products p {
  text-transform: uppercase;
}
.container-products h3 {
  font-family: "playfair";
  text-transform: capitalize;
  text-align: center;
  font-style: italic;
  font-size: 2rem;
  margin: 1rem;
}
.container-products h3 span {
  font-style: normal;
  font-weight: bold;
}
.products {
  width: 100%;
  margin: 1rem;
  height: 26rem;
  text-align: center;
  margin-right: .3rem;
}
.products h3 a {
  text-decoration: none;
  color: #e2574c;
  font-style: normal;
  font-size: 1.5rem;
}
/*--------------SignUp--------------*/

.container-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  margin: .5rem 0;
  background: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1)), url("../Asset/images/wave-bkgd.jpg") no-repeat 50% 90%;
}
.container-signup-text {
  color: #ffffff;
  text-align: center;
  line-height: 2rem;
}
.container-signup-text h3 {
  font-family: "playfair";
  font-style: italic;
  font-size: 2rem;
  margin: 1.5rem;
}
.container-signup-text h3 span {
  font-style: normal;
  font-weight: bold;
}
.container-signup-text p a {
  text-decoration: none;
  color: white;
}
.my-form {
  display: block;
  margin: .5rem;
  height: 2rem;
  width: 5rem;
  background: #ffffff;
}
.my-form input {
  background-color: #e2574c;
}

/*--------------footer--------------*/

.container-footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 4rem 1.5rem;
  font-family: "raleway";
  font-weight: bold;
  color: #ffffff;
  background-color: #242424;
}
.container-footer-copyright {
  margin: .5rem;
  text-align: center;
}
.container-footer-contacts {
  margin: .5rem;
}
.container-footer a {
   text-decoration: underline;
   color: #ffffff;
}
.container-footer-address {
  margin: .5rem;
  text-align: center;
  color: #969696;
}
.container-footer-media {
  display: flex;
  margin: 1.5rem;
  flex-flow: row nowrap;
}
.container-footer-media li {
  margin: .5rem;
}

/*----------Media-Queries----------*/

@media all and (min-width: 600px){
  body {
  font-size: 16px;
  }
  .container-nav{
    flex-flow: row nowrap;
  }
  .nav-img-logo{
    margin-right: 0;
  }
  .nav-img-cart{
    margin-left: none;
    padding: none;
    margin: none;
  }
  .container-nav-menu {
    order: 0;
    flex-grow: initial;
    border-top: none;
    justify-content: space-around;
    margin: none;
  }
  .container-nav-menu-child {
    margin: .2rem;
    padding: .2rem;
  }

  .container-category-men {
    width: 49.25%;
    background-size: cover;
    background-position: center right;
    margin: initial;
    height: 10rem;
  }
  .container-category-trends {
    width: 24.25%;
    background-size: cover;
    background-position: center right;
    height: 10rem;
  }
    .container-category-glasses {
    width: 24.25%;
    background-size: cover;
    background-position: center right;
    height: 10rem;
  }
  .container-category-sale {
    width: 24.25%;
    background-size: cover;
    background-position: center right;
    margin: initial;
    height: 10rem;
    margin-top: 1.2%;
  }
  .container-category-bags {
    width: 24.25%;
    background-size: cover;
    background-position: center right;
    height: 10rem;
    margin: 0;
    margin-top: 1.2%;
  }
    .container-category-women {
    width: 49.25%;
    background-size: cover;
    background-position: center right;
    height: 10rem;
    margin-top: 1.2%;
    order: 6;
  }
  .products {
    width: 50%;
  }
}
@media all and (min-width: 1240px) {

}